<p><h1>{{title}}</h1></p>
<p><h2>IPFS Commands</h2></p>
<div id=ipfsCommandResult></div>
<a href="javascript:sendRequest('/ipfs/version')">IPFS version</a>
<div id='ipfsVersionResult'></div>
<a href="javascript:sendRequest('/markdown/editor')">Markdown Editor</a>