<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="shortcut icon" type="image/png" href="/logo.png"/>    
    <title>YPI</title>
    <link rel="stylesheet" href="/component/bulma.min.css">    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body id="body">   
    <section class="section">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <a class="button is-small is-info is-outlined" href="/quality-reports/report-writer">Report Writer</a>
      <a class="button is-small is-info is-outlined" href="/quality-reports/molecular-tat">Molecular TAT</a>
      <a class="button is-small is-info is-outlined" href="/quality-reports/surgical-statistics">Surgical Statistics</a>      
      <a class="button is-small is-info is-outlined" href="/quality-reports/cytology-daily-signout">Cytology Daily Signout</a>      
    </div>
  </section>        
  </body>
</html>