<h1>IPFS Files LS</h1>
<table class="table is-responsive">
  <thead>
      <tr>
        <th>Directory</th>        
      </tr>
    </thead>
  <tbody>
    {{#each this}}
      <tr>
        <td>{{'Name'}}</td>        
      </tr>      
    {{/each}}
  </tbody>
</table>